[submodule "quick-auth-base"]
	path = quick-auth-base
	url = https://github.com/extvos/quick-auth-base.git
[submodule "quick-auth-builtin"]
	path = quick-auth-builtin
	url = https://github.com/extvos/quick-auth-builtin.git
[submodule "quick-auth-oauth2"]
	path = quick-auth-oauth2
	url = https://github.com/extvos/quick-auth-oauth2.git
[submodule "quick-builtin-geo"]
	path = quick-builtin-geo
	url = https://github.com/extvos/quick-builtin-geo.git
[submodule "quick-builtin-upload"]
	path = quick-builtin-upload
	url = https://github.com/extvos/quick-builtin-upload.git
[submodule "quick-builtin-version"]
	path = quick-builtin-version
	url = https://github.com/extvos/quick-builtin-version.git
[submodule "quick-lib-common"]
	path = quick-lib-common
	url = https://github.com/extvos/quick-lib-common.git
[submodule "quick-lib-logging"]
	path = quick-lib-logging
	url = https://github.com/extvos/quick-lib-logging.git
[submodule "quick-lib-restlet"]
	path = quick-lib-restlet
	url = https://github.com/extvos/quick-lib-restlet.git
[submodule "quick-restlet-generator"]
	path = quick-restlet-generator
	url = https://github.com/extvos/quick-restlet-generator.git
[submodule "quick-web-starter"]
	path = quick-web-starter
	url = https://github.com/extvos/quick-web-starter.git
[submodule "quick-lib-mqtt"]
	path = quick-lib-mqtt
	url = https://github.com/extvos/quick-lib-mqtt.git
[submodule "quick-builtin-async"]
	path = quick-builtin-async
	url = https://github.com/extvos/quick-builtin-async.git
[submodule "quick-builtin-quartz"]
	path = quick-builtin-quartz
	url = https://github.com/extvos/quick-builtin-quartz.git
[submodule "quick-lib-redis"]
	path = quick-lib-redis
	url = https://github.com/extvos/quick-lib-redis.git
[submodule "quick-builtin-payment"]
	path = quick-builtin-payment
	url = https://github.com/extvos/quick-builtin-payment.git
